/* myStyle.css*/
/* resetting the browser to not get weird spacing: */
* {
	margin: 0;
	padding: 0;
}

p {
	size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.3fr 0.5fr;
	grid-template-areas: 
	"bestseller"
	"summer-c-section"
	"instagram-section"
	"footer";

}

#bestseller {
	grid-area: bestseller;
	margin-top: 260px;
}

#summer-c-section {
	grid-area: summer-c-section;
}

#instagram-section {
	grid-area: instagram-section;
}

#footer {
	grid-area: footer;
	background-color: #302C2C;
	opacity: 0.8;
	height: 454px;
	width: auto;
	margin-top: 90px;
	text-align: center;
}


/* how to stack the certain elements: http://www.corelangs.com/css/box/ontop.html#:~:text=The%20following%20HTML%2DCSS%20code,left%20of%20the%20first%20image. */
.img-top {
	width:100%;
	z-index: 1;
	top: 0px;
	position: absolute;

}

.logo {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
	object-fit: cover;
  	width:67.06px;
  	height:63px;
}
 .logo-footer{
 	text-align: center;
	margin-top: 33px;
	object-fit: cover;
	width:67.06px;
  	height:63px;
 }

.slogan {
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 10px;
	object-fit: cover;
  	width:138px;
  	height:84px;
}

h2 {
	color: #C16148;
	font-size: 36px;
	margin: 46px 0px 0px 60px;
	font-family: 'Roboto Condensed', sans-serif;
}

.line-below-headline {
	margin-left: 60px;
}

.first-bestseller{
	margin-left: 60px;
	margin-top: 40px;
}

.second-bestseller{
	margin-left: 60px;
	margin-top: 29px;
}

.third-bestseller{
	margin-left: 60px;
	margin-top: 29px;
}

.product-description{
	color: #C16148;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;

}

.prize {
	color: #707070;
	margin-left: 60px;
}

.girl-with-sunglasses {
	margin: 117px 60px 0px 60px;
}

#summer-collection {
	color: #302C2C;
	margin: 20px 60px 20px 60px;
}

.collection-text {
	margin: 9px 60px 0px 60px;
}

.find-it-here {
	background-color: #FFFFFF;
	border: solid;
	border-width: 2px;
	border-color: #302C2C;
	color: #302C2C;
	text-align: center;
	padding: 5px 15px 5px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	float: right;
	margin-right: 60px;
}

.instagram-headline {
	margin-top: 90px;
}

/* object-fit: cover; was found here:; https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css */
.fit-image {
  object-fit: cover;
  width:255px;
  height:255px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}


.footer-link {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	margin-top: 33px;
	display: block; 
}

@media screen and (min-width: 736px){
	.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"bestseller bestseller bestseller"
	"summer-c-section summer-c-section summer-c-section "
	"instagram-section instagram-section instagram-section "
	"footer footer footer";

	.top-section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"bestseller bestseller bestseller"
		"summer-c-section summer-c-section summer-c-section "
		"instagram-section instagram-section instagram-section "
		"footer footer footer";
	}

	#bestseller {
	grid-area: bestseller;
	margin-top: 260px;
	}

	#summer-c-section {
	grid-area: summer-c-section;
	}

	#instagram-section {
	grid-area: instagram-section;
	}

	.img-top {
	width:100%;
	z-index: 1;
	top: 0px;
	position: absolute;

}

.logo {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
	object-fit: cover;
  	width:103px;
  	height:93px;
}
 .logo-footer{
 	text-align: center;
	margin-top: 33px;
	object-fit: cover;
	width:67.06px;
  	height:63px;
 }

.slogan {
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 10px;
	object-fit: cover;
  	width:265px;
  	height:156px;

	
}

erster breakpoint 550px











