<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
			<link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='stylesheet_contact.css', v=0.01) }}">
		</head>
<!-- HEADER SECTION -->
		<body>
			<div id="outer-grid">
			  	<div id="inner-grid-header">
			    	<div> 
			    		<a href="/">
			    			<img class = "logo" src = "/static/img/logo.png" alt = "BanDoo Logo">
			    		</a>	
			    	</div>
<!-- MENU -->
			    	<nav>
			    		<ul>
							<li> <a href="/#bestsellers-anchor">Bestsellers</a></li>
			    			<li> <a href="/#recommendation-anchor">Recommendations</a></li>
			    			<li> <a href="/">Contact</a></li>
			    		</ul>
			    	</nav>
			    	<div class="title">
			    		<h1>Nice to meet you!</h1>
			    	</div>
		  		</div>
<!-- BESTSELLER SECTION -->
				<div id="inner-grid-contact">
					<div class="section-headline">
						<h2> In case you wanna talk to us</h2>
  						<img class="line-below-headline" src="/static/img/line-below-headlines.png" alt="Line Below Headline">
					</div>
					<div id="address-div">
						<p id="headline_contact">Address:</p>
						<p>
						Factory Berlin <br>
						Lohmühlenstraße 65 <br>
						12435 Berlin <br>
						Germany	
						</p>
					</div>
					<div id="contact-div">
						<p id="headline_contact">Contact:</p>
						<p>
						marvin@bandoo.com <br>
						0177 7125 456 <br>
						looking forward to talking to you! <br>
						</p>
					</div>
					<div id="maps-image">
					</div>
				</div>
<!-- FOOTER -->
				<div id="inner-grid-footer">
					<div class="footer-item-instagram">
						<a href="https://www.instagram.com/" class="footer-link" >Instagram</a>
					</div>
					<div class="footer-item-pinterest">
						<a href="https://www.pinterest.de/" class="footer-link" >Pinterest</a>
					</div>
					<div class="footer-item-facebook">
						<a href="https://www.facebook.com/" class="footer-link" >Facebook</a>
					</div>
					<div class="footer-item-logo">
						<img class="logo-footer" src="/static/img/logo.png" alt="BanDoo Logo">
					</div>
					<div class="footer-item-datenschutz">
						<a href=# class="footer-link" >Datenschutz</a>
					</div>
					<div class="footer-item-impressum">
						<a href=# class="footer-link" >Impressum</a>
					</div>
					<div class="footer-item-contact">
						<a href=# class="footer-link" >Contact</a>
					</div>
				</div>
			</div>
		</body>