<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet_results.css') }}"/>
		</head>
<!-- HEADER SECTION -->
		<body>
			<div id="outer-grid">
			  	<div id="inner-grid-header">
			    	<div> 
			    		<a href="/">
			    			<img class="logo" src="/static/img/logo.png" alt="BanDoo Logo">
			    		</a>
			    	</div>
<!-- MENU -->
			    	<nav>
			    		<ul>
			    			<li> <a href="#">Story</a></li>
			    			<li> <a href="#">Shop</a></li>
			    			<li> <a href="/contact">Contact</a></li>
			    		</ul>
			    	</nav>
			    	<div id="slogan-div">
			    		<img class="slogan" src="/static/img/slogan.png" alt="BanDoo Slogan">
			    	</div>
		  		</div>
<!-- BESTSELLER SECTION -->
				<a name="bestsellers-anchor"></a>
				<div id="inner-grid-bestsellers">
					<div class="section-headline">
						<h2> Bestsellers</h2>
						<img class="line-below-headline" src="/static/img/line-below-headlines.png" alt="Line Below Headline">
					</div>
					{% for bestseller in bestseller1%}
					<div class="bestseller1"> 
						<img src="{{bestseller[4]}}" alt="picture of glasses bands" class="fit-image">
					</div>
					<div class="bestseller1-description">
						<p class="product-description"> {{bestseller[2]}} </p>
						<p class="prize"> {{bestseller[5]}} </p>
					</div>
					{% endfor %}	  
					{% for bestseller in bestseller2%}
					<div class="bestseller2"> 
						<img src="{{bestseller[4]}}" alt="picture of glasses bands" class="fit-image">
					</div>
					<div class="bestseller2-description">
						<p class="product-description"> {{bestseller[2]}} </p>
						<p class="prize"> {{bestseller[5]}} </p>
					</div>	 
					{% endfor %}
					{% for bestseller in bestseller3%}
					<div class="bestseller3">
						<img src="{{bestseller[4]}}" alt="picture of glasses bands" class="fit-image">
					</div>
					<div class="bestseller3-description">
						<p class="product-description"> {{bestseller[2]}} </p>
						<p class=prize> {{bestseller[5]}} </p>
					</div>	
					{% endfor %}
				</div>
<!-- RECOMMENDATION SECTION -->
				<div id="inner-grid-recommendation">
					<div class="section-headline-recommendation">
		  				<h2> No idea what to chose? </h2>
						<img class="line-below-headline" src="/static/img/line-below-headlines.png" alt="Line Below Headline">
						<p class="recommendation-paragraph"> Tell us your preferences and we’ll recommend you your perfect glasses chain.</p>
		  			</div>
		  			<div class="dropdown1">
						<form action="/recommendations" method="POST">
							<p class="recommendation-question"> Who's your favorite music artist? </p>
							<select id="artist" name="artist">
							  <option value=1>Kanye West</option>
							  <option value=2>Drake</option>
							  <option value=3>Taylor Swift</option>
							  <option value=4>Lady Gaga</option>
							</select>
					</div>
		  			<div class="dropdown2"> 
							<p class="recommendation-question"> What's your favorite color? </p>
							<select id="color" name="color">
							  <option value=1>Black</option>
							  <option value=2>Golden</option>
							  <option value=3>Silver</option>
							  <option value=4>Orange</option>
							</select>
		  			</div>
		  			<div class="dropdown3">  
						<p class="recommendation-question"> What’s your drink in da club? </p>
						<select id="drink" name="drink">
							<option value=1>Water</option>
							<option value=2>Gin Tonic</option>
							<option value=3>Wodka</option>
							<option value=4>Rum-Cola</option>
						</select>
						
		  			</div>
		  			<div class="recommendation-button-div">
						<input type="submit" class="recommendation-button" value="get perfect fit">
					  </div>
					</form>
		  			<div class="recommendation-result-text">
                          <h2> Check out: </h2>
                          <h2 id="summer-collection"> My Life is Bling Bling </h2>
						  <p class="recommendation-paragraph"> Some call it good taste, we call it Bling Bling. Use these glasses to shine like a diamond. </p>

					</div>
					<div id="recommendation-div">
						<img src="/static/img/second-bestseller.png" alt="My Life is Bling Bling" class="recommendation-image">
					</div>
				</div>
<!-- NEW COLLECTION SECTION -->
			  	<div id="inner-grid-new-collection">
		  			<div id="summer-collection-section-image">
		  			</div>
		  			<div id="summer-collection-section-text">
		  				<h2 id="summer-collection"> Summer Collection </h2>
						<p> We are getting into the summer with some hot Glass Chains. Featured in many magazines, our chain won several prices. </p>
					</div>
					<div class="summer-collection-button-div">
						<button type="button" class="find-it-here">find it here</button> 
					</div>	
				</div>
<!-- INSTAGRAM SECTION -->
<!-- how to get instagram image: https://developers.facebook.com/docs/instagram/embedding#get--p--post-url--media -->
			  	<div id="inner-grid-instagram">
		  			<div class="section-headline-instagram">
		  				<h2> People wearing BanDoo </h2>
						<img class="line-below-headline" src="/static/img/line-below-headlines.png" alt="Line Below Headline">
		  			</div>
		  			<div class="instagram-image1">
						<img src="/static/img/tim.png" alt="picture of glasses bands" class="fit-image">
					</div>  
					<div class="instagram-image1-description">
						<a href="https://www.instagram.com/p/B-2N6zhA5tA0_KRSK5CHTfoa-Y7OciOkp4WTOQ0/" class="product-description" >@tim_r_buettner</a>
		  			</div>
		  			<div class="instagram-image2">
						<img src="/static/img/tade.png" alt="picture of glasses bands" class="fit-image">
					</div>  
					<div class="instagram-image2-description">
						<a href="https://www.instagram.com/tade_bo/" class="product-description" >@tade_bo</a>
		  			</div>
		  			<div class="instagram-image3">
						<img src="/static/img/jonathan.png" alt="picture of glasses bands" class="fit-image">
					</div>  
					<div class="instagram-image3-description">
						<a href="https://www.instagram.com/p/Bag_YkQnx_b" class="product-description" >@_justmejonathan</a>
		  			</div>
				</div>
<!-- FOOTER -->
				<div id="inner-grid-footer">
					<div class="footer-item-instagram">
						<a href="https://www.instagram.com/" class="footer-link" >Instagram</a>
					</div>
					<div class="footer-item-pinterest">
						<a href="https://www.pinterest.de/" class="footer-link" >Pinterest</a>
					</div>
					<div class="footer-item-facebook">
						<a href="https://www.facebook.com/" class="footer-link" >Facebook</a>
					</div>
					<div class="footer-item-logo">
						<img class="logo-footer" src="/static/img/logo.png" alt="BanDoo Logo">
					</div>
					<div class="footer-item-datenschutz">
						<a href=# class="footer-link" >Datenschutz</a>
					</div>
					<div class="footer-item-impressum">
						<a href=# class="footer-link" >Impressum</a>
					</div>
					<div class="footer-item-contact">
						<a href=# class="footer-link" >Contact</a>
					</div>
				</div>
			</div>
		</body>